@{
    ViewData["Title"] = "Confirmation Page";
}

<div class="text-center">
    <h1 class="display-4">Congrats!</h1>
    <p>You've successfully updated the bowler database :)</p>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">See Bowlers</a>
    </div>
</div>
